--swiftversion 5.1

--commas inline
--decimalgrouping 3,5

# I'd like to keep the return statement in functions. SwiftLint will take care
# of the other cases.
--disable redundantReturn

--exclude **/*.generated.swift
--exclude Carthage/**/*
--exclude .build/**/*
--exclude Package.swift

--header "\n Copyright {year} Guillaume Algis.\n Licensed under the MIT License. See the LICENSE.md file in the project root for more information.\n"
