--swiftversion 5.1

--commas inline
--decimalgrouping 3,5

--exclude **/*.generated.swift
--exclude Carthage/**/*
--exclude .build/**/*
--exclude Package.swift

--header "\n Copyright {year} Guillaume Algis.\n Licensed under the MIT License. See the LICENSE.md file in the project root for more information.\n"
