
SUPPORTED_PLATFORMS = macosx appletvsimulator appletvos watchsimulator iphonesimulator watchos iphoneos

IPHONEOS_DEPLOYMENT_TARGET = 10.0
MACOSX_DEPLOYMENT_TARGET = 10.12
TVOS_DEPLOYMENT_TARGET = 10.0
WATCHOS_DEPLOYMENT_TARGET = 3.0

SWIFT_VERSION = 5.0.1

LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/Frameworks @executable_path/Frameworks @loader_path/../Frameworks @executable_path/../Frameworks

// Carthage search paths
CARTHAGE_BUILD_DIR = $(PROJECT_DIR)/Carthage/Build

CARTHAGE_PLATFORM_NAME[sdk=iphone*] = iOS
CARTHAGE_PLATFORM_NAME[sdk=macosx*] = Mac
CARTHAGE_PLATFORM_NAME[sdk=appletv*] = tvOS
CARTHAGE_PLATFORM_NAME[sdk=watch*] = watchOS

FRAMEWORK_SEARCH_PATHS[sdk=iphone*] = $(inherited) $(CARTHAGE_BUILD_DIR)/$(CARTHAGE_PLATFORM_NAME)
FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(inherited) $(CARTHAGE_BUILD_DIR)/$(CARTHAGE_PLATFORM_NAME)
FRAMEWORK_SEARCH_PATHS[sdk=appletv*] = $(inherited) $(CARTHAGE_BUILD_DIR)/$(CARTHAGE_PLATFORM_NAME)
FRAMEWORK_SEARCH_PATHS[sdk=watch*] = $(inherited) $(CARTHAGE_BUILD_DIR)/$(CARTHAGE_PLATFORM_NAME)
